*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
}


/* this is the nav section */

.logo-links-icons{
    /* height: 70px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 40px 10px 40px;
    width: 100%;

    .logo{
        display: flex;
    }

    .logo-img{
        
        margin-top: 4px;
        width: 45px;
    }
    h2{
        font-family: montserrat;
        font-size: 34px;
        font-weight: 700;
    }
    a{
        text-decoration: none;
        margin-right: 40px;
        color: black;
    }
        .icon-img{
            display: flex;
            padding-left: 100px;
        }
    .icon-img img{
        margin-right: 20px;
        width: 25px;
    }
}
.background img{
    width: 1077px;
    position: relative;
}

 /* < !-- this is the ext section inside the hero --> */

 .hero-text{
    width: 350px;
    height: 300px;
    background-color: #FFF3E3;
    padding: 30px 20px 30px 40px;
    position: absolute;
    top: 190px;
    left: 550px;

    h3{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0px;
        /* position: fixed; */
    }
    h2{
        font-size: 30px;
        margin-bottom: 15px;
        color: #B88E2F;
        font-weight: 900;
        /* position: absolute; */
    }
    p{
        font-size: 11px;
        margin-bottom: 10px;
        line-height: 2.0em;
        font-weight: 500;

    }
    button{
        padding: 17px 45px;
        background-color: #B88E2F;
        font-size: 10px;
        color: white;
        border: none;
    }
 }



                /* < !-- Browse the range section --> */

    .browse-the-range{
        /* width: 1440px; */
        padding: 20px 40px;
    }
    .browse-the-range-text{
        text-align: center;
        h2{
            margin-top: 10px;
            margin-bottom: 15px;
        }
        p {
                padding-bottom: 30px;
            }

    }
.image-text{
    display: flex;
    justify-content: space-between;
    text-align: center;

    img{
        width: 320px;
    }
    h4{
        padding-top: 10px;
        font-size: 22px;
    }
}

.our-products{
    /* width: 1440px; */
    padding: 50px 50px;

    h3{
        margin-bottom: 35px;
        text-align: center;
        font-size: 34px;
    }
}
.our-products-top-row{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 20px;
    position: relative;

    .overlay{
        position: absolute;
        z-index: 6;
        opacity: 0.8;
        height: 380px;
    }

    .discount1 {
        position: absolute;
        top: 20px;
        left: 200px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color:#E97171;
        color: white;
        z-index: 9;
        padding-top: 25px;
        }
        .discount2{
            position: absolute;
            top: 20px;
            left: 830px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #E97171;
            color: white;
            z-index: 9;
            padding-top: 25px;
        }

        .discount3 {
            position: absolute;
            top: 20px;
            left: 1140px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2EC1AC;
            color: white;
            z-index: 9;
            padding-top: 25px;
        }

        .discount4 {
            position: absolute;
            top: 20px;
            left: 1140px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2EC1AC;
            color: white;
            z-index: 9;
            padding-top: 25px;
        }

        .discount5{
            position: absolute;
            top: 20px;
            left: 505px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2EC1AC;
            color: white;
            z-index: 9;
            padding-top: 25px;
        }

        .discount6 {
            position: absolute;
            top: 20px;
            left: 830px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #E97171;
            color: white;
            z-index: 9;
            padding-top: 25px;
        }

        .discount7 {
            position: absolute;
            top: 20px;
            left: 1140px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2EC1AC;
            color: white;
            z-index: 9;
            padding-top: 25px;
        }

                 

}

.our-products-top-row div {
    background-color: #F4F5F7;
    width: 225px;
    height: 380px;
    margin-left: 10px;
    
    h4,p,span{
        padding:8px 10px 5px 15px;
    }
    p{
        padding-bottom: 15px;
        font-size: 15px;
    }
    
    h4{
        font-weight: 900;
        font-size: 20px;
    }
    img{
        width: 225px;
    }
    span{
        font-weight: 700;
        font-size: 12px;
    }
    .strike{
        text-decoration: line-through;
        opacity: .5;
        padding-left: 50px;
    }
}

.show-more-btn{
    display: flex;
    justify-content: center;

    button{
        margin-top: 20px;
        width: 170px;
        height: 40px;
        color: #B88E2F;
        border: solid 1px #B88E2F;
        background-color: transparent;
        margin-bottom: 20px;
    }
}


            /* < !-- beautiful rooms section --> */

.beautiful-room{
    /* width: 1440px; */
    padding: 40px;
    background-color: #FCF8F3;
    display: flex;
    justify-content: space-between;
   
    .beautiful-room-text{
        padding-left: 30px;
        padding-top: 150px;
        padding-right: 20px;
    }

    h2{
        font-size: 30px;
    }
    p{
        font-size: 13px;
        margin-top: 10px;
    }
    button{
        margin-top: 20px;
        padding: 10px 20px;
        opacity: .7;
        border: none;
        color: white;
        background-color: #B88E2F;
    }

    #two{
        margin-top: 20px;
        margin-left: 20px;
        width: 100px;
    }
    img{
        width: 320px;
        margin-right: 20px;
    }
}


                 /* < !-- funiro funiture section --> */

.furniro-furniture{
    /* width: 1440px; */
    height: 800px;
    background-color: #E97171;
    /* background-color: #B88E2F; */

    .furniro-furniture-text{
        text-align: center;
    }

    .furniro-furniture-text p{
        margin-top: 50px;
    }

    .furniro-furniture-text h2{
        font-size: 36px;
        margin-bottom: 25px;
    }
}
.furniro-furniture-box1{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 7px;
    
   

    .furniro-furniture-box1-img1{
        position: absolute;
        top: -55px;
        width: 70px;
    }
    .furniro-furniture-box1-img2{
        position: absolute;
        top: 300px;
        left: 7px;
        width: 140px;
    }

    .furniro-furniture-box1-img3{
        position: absolute   ;
        left: 85px;
        top: 53px;
        width: 340px;
        
    }

    .furniro-furniture-box1-img4{
        position: absolute;
        z-index: 3;
        left: 432px;
        top: 120px;
        width:220px;
    }

    .furniro-furniture-box1-img5{
        position: absolute;
        left: 661px;
        top: 84px;
        z-index: 4;
        width: 200px;
        
    }
    .furniro-furniture-box1-img6{
        position: absolute;
        z-index: 5;
        left: 662px;
        top: 332px;
        width: 200px;
    }

    .furniro-furniture-box1-img7{
        position: absolute;
        z-index: 6;
        top: 333px;
        left: 870px;
        width: 190px;
        
    }

    .furniro-furniture-box1-img8{
        position: absolute;
        z-index: 7;
        left: 870px;
        top: 10px;
        width: 190px;
        
    }

        .furniro-furniture-box1-img9 {
            position: absolute;
            z-index: 8;
            left: 155px;
            top: 300px;
            width: 270px;
        }
}
             /* < !-- the footer section --> */

.footer-section{

    /* width: 1440px; */
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 57;
    color: black;
    padding: 50px;


    p{
        color: grey;
    }
    }
    h3{
        /* padding-top: 50px; */
        font-size: 30px;
        padding-bottom: 50px;
    }

    .footer-section-address{
        padding-left: 70px;
    }

    .footer-section-content-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .footer-section-links p{
        margin-bottom: 50px;
        color: rgb(219, 216, 216);
    }
    .footer-section-links a{
        display: block;
        margin-bottom: 50px;
        text-decoration: none;
    }
    .footer-section-payments p{
        margin-bottom: 50px;
        color: rgb(219, 216, 216);
        
    }

    .footer-section-payments a{
        display: block;
        margin-bottom: 50px;
        text-decoration: none;
    }

    .footer-section-news p{
        margin-bottom: 50px;
        color: rgb(219, 216, 216);
    }
    input{
        border-top: none;
        border-left: none;
        border-right:none ;
    }
    .footnote{
        margin-left: 70px;
    }






@media (min-width:2560px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
    }

}

    


@media (max-width:2560px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
    }
    
}




@media (max-width:1440px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
    }
}



@media (max-width:768px) {
    .hamburger{
        display: none;
    }
    .nav-links{
        display: flex;
    }
}


/* responsiveness for mobile */

@media (max-width:425px) {
    .container {
            width: 325px;
        }
    
        .hamburger {
            display: flex;
        }
    
        .nav-links {
            display: none;
        }
    
        .background {
            img {
                width: auto;
                height: 465px;
            }
        }
    
        .logo-links-icons {
            width: 930px;
        }
    
        .hero-text {
            width: 400px;
            height: 370px;
            background-color: #FFF3E3;
            padding: 30px 20px 30px 40px;
            position: absolute;
            top: 90px;
            left: 480px;
            opacity: .8;
    
            h3 {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 30px;
            }
    
            h2 {
                font-size: 30px;
                margin-bottom: 25px;
                color: #B88E2F;
                font-weight: 900;
            }
    
            p {
                font-size: 10px;
                margin-bottom: 20px;
                line-height: 1.5em;
                font-weight: 500;
            }
    
            button {
                padding: 10px 35px;
                background-color: #B88E2F;
                font-size: 10px;
                color: white;
                border: none;
            }
        }
    
        /* < !-- Browse the range section --> */
        .browse-the-range {
            width: 930px;
            padding: 20px 40px;
        }
    
        .browse-the-range-text {
            text-align: center;
    
            h2 {
                font-size: 40px;
                margin-top: 30px;
                margin-bottom: 5px;
            }
    
            p {
                font-size: 20px;
                padding-bottom: 30px;
            }
    
        }
    
        .image-text {
            display: block;
            justify-content: center;
            text-align: center;
            /* margin-right: 500px; */
    
            img {
                width: 430px;
    
            }
    
            h4 {
                font-size: 30px;
                padding-bottom: 40px;
            }
    
        }
    
        /* < !-- our product section --> */
    
    
    
        .our-products {
            width: 930px;
            background-color: #F4F5F7;
            /* text-align: center; */
            /* align-items: center; */
        }
    
        .our-products-top-row {
            display: block;
            justify-content: space-between;
            /* align-content: center; */
            /* margin-bottom: 20px; */
            position: relative;
    
    
            .our-products-top-row-border {
                border: 5px rgb(215, 200, 200) dashed;
                width: 545px;
                height: 800px;
                opacity: .9;
    
    
                h4 {
                    font-size: 40px;
                }
    
                p {
                    font-size: 23px;
                    margin-bottom: 20px;
                }
    
                span {
                    font-size: 25px;
                    /* margin-left: 10px; */
                }
            }
    
        }
    
        .discount1 {
            position: absolute;
            top: 140px;
            left: 480px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #E97171;
            color: white;
            z-index: 9;
            /* padding-top: 25px; */
            /* margin-bottom: 40px; */
        }
    
        .discount2 {
            /* position: absolute; */
            /* top: 0px;
                        left: 250px; */
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #E97171;
            color: white;
            z-index: 9;
            padding-top: 25px;
            /* margin-bottom: 40px; */
        }
    
        .discount3 {
            /* position: absolute; */
            /* top: 0px;
                        left: 100px; */
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2EC1AC;
            color: white;
            z-index: 9;
            padding-top: 25px;
            /* margin-bottom: 40px; */
        }
    
        .discount4 {
            /* position: absolute; */
            /* top: 0px;
                        left: 150px; */
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2EC1AC;
            color: white;
            z-index: 9;
            padding-top: 25px;
            /* margin-bottom: 40px; */
        }
    
        .discount5 {
            /* position: absolute; */
            /* top: 0px;
                        left: 50px; */
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2EC1AC;
            color: white;
            z-index: 9;
            padding-top: 25px;
            margin-bottom: 40px;
        }
    
        .discount6 {
            /* position: absolute; */
            /* top: 0px;
                        left: 100px; */
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #E97171;
            color: white;
            z-index: 9;
            padding-top: 25px;
    
        }
    
        .discount7 {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2EC1AC;
            color: white;
            z-index: 9;
    
        }
    
        /* position: static; */
    
    
    
        .our-products-top-row {
            display: block;
        }
    
        .our-products-top-row div {
            background-color: #F4F5F7;
            width: 535px;
            height: 800px;
            margin-bottom: 50px;
            margin-left: 120px;
    
    
            img {
                width: 535px;
            }
    
        }
    
        img .overlay {
            width: 545px;
            height: 800px;
            z-index: 10;
        }
    
        .show-more-btn {
            display: flex;
            justify-content: center;
    
            button {
                width: 200px;
                height: 60px;
                color: #B88E2F;
                border: solid 3px #B88E2F;
                background-color: transparent;
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    
    
    
    
        /* < !-- beautiful rooms section --> */
    
        .beautiful-room {
            width: 930px;
            background-color: #FCF8F3;
            display: block;
            text-align: center;
    
    
            .beautiful-room-text {
                padding-left: 0px;
                padding-top: 20px;
                padding-bottom: 50px;
            }
    
            h2 {
                font-size: 42px;
                margin-bottom: 20px;
            }
    
            p {
                font-size: 25px;
            }
    
            button {
                margin-top: 20px;
                padding: 10px 50px;
                border: none;
                color: white;
                font-size: 18px;
                background-color: #B88E2F;
            }
    
            img {
                width: 500px;
                margin-bottom: 50px;
            }
    
        }
    
        #two {
            width: 100px;
            margin-top: 30px;
        }
    
        /* < !-- funiro funiture section --> */
    
        .furniro-furniture {
            width: 930px;
            height: 800px;
            /* background-color: #B88E2F; */
    
    
            .furniro-furniture-text {
                text-align: center;
    
    
                .furniro-furniture-text p {
                    padding-top: 270px;
                }
    
                .furniro-furniture-text h2 {
                    font-size: 36px;
                    margin-bottom: 25px;
                }
            }
    
    
    
            .furniro-furniture-box1 {
                display: flex;
                flex-wrap: wrap-reverse;
                justify-content: space-between;
                padding: 30px;
                /* position: relative; */
    
    
                .furniro-furniture-box1-img1 {
                    position: static;
                    /* top: -55px; */
                }
    
                .furniro-furniture-box1-img2 {
                    position: static;
                    top: 0px;
                    left: 0px;
                }
    
                .furniro-furniture-box1-img3 {
                    position: static;
                    left: 0px;
                    top: 0px;
                }
    
                .furniro-furniture-box1-img4 {
                    position: static;
                    /* z-index: 3; */
                    left: 0px;
                    top: 0px;
                }
    
                .furniro-furniture-box1-img5 {
                    position: static;
                    left: 0px;
                    top: 0px;
                    /* z-index: 4; */
                }
    
                .furniro-furniture-box1-img6 {
                    position: static;
                    /* z-index: 5; */
                    left: 0px;
                    top: 0px;
                }
    
                .furniro-furniture-box1-img7 {
                    position: static;
                    /* z-index: 6; */
                    top: 0px;
                    left: 0px;
                }
    
                .furniro-furniture-box1-img8 {
                    position: static;
                    /* z-index: 7; */
                    left: 0px;
                    top: 0px
                }
    
                .furniro-furniture-box1-img9 {
                    position: static;
                    /* z-index: 8; */
                    left: 0px;
                    top: 0px
                }
            }
        }
    
        /* < !-- the footer section --> */
    
    
        .footer-section {
            margin-top: 600px;
            width: 930px;
            background-color: #F4F5F7;
            padding-bottom: 50px;
    
            p {
                font-size: 14px;
            }
    
            hr {
                color: rgb(219, 216, 216);
                margin-bottom: 50px;
            }
    
            h3 {
                font-size: 30px;
                padding-bottom: 50px;
            }
    
            .footer-section-address {
                padding-left: 20px;
            }
    
            .footer-section-content-container {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
    
            .footer-section-links p {
                margin-bottom: 50px;
                color: rgb(219, 216, 216);
            }
    
            .footer-section-links a {
                display: block;
                margin-bottom: 50px;
                text-decoration: none;
            }
    
            .footer-section-payments p {
                margin-bottom: 50px;
                color: rgb(219, 216, 216);
    
            }
    
            .footer-section-payments a {
                display: block;
                margin-bottom: 50px;
                text-decoration: none;
            }
    
            .footer-section-news {
                margin-right: 50px;
            }
    
            .footer-section-news p {
                margin-bottom: 50px;
    
                color: rgb(219, 216, 216);
            }
    
            input {
                border-top: none;
                border-left: none;
                border-right: none;
            }
    
            .footnote {
                margin-left: 70px;
            }
    
        }
    
    
    
    }











@media (max-width:320px) {
    .container{
        width: 325px;
    }
    .hamburger{
        display: flex;
    }
    .nav-links{
        display: none;
    }

    .background{
        img{
            width: auto;
            height: 465px;
        }
    }
    .logo-links-icons{
        width: 930px;
    }

    .hero-text {
        width: 400px;
        height: 320px;
        background-color: #FFF3E3;
        padding: 30px 20px 30px 40px;
        position: absolute;
        top: 90px;
        left: 480px;
        opacity: .8;

        h3 {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        h2 {
            font-size: 30px;
            margin-bottom: 25px;
            color: #B88E2F;
            font-weight: 900;
        }

        p {
            font-size: 10px;
            margin-bottom: 20px;
            line-height: 1.5em;
            font-weight: 500;
        }

        button {
            padding: 10px 35px;
            background-color: #B88E2F;
            font-size: 10px;
            color: white;
            border: none;
        }
        }

    /* < !-- Browse the range section --> */
         .browse-the-range {
            width: 930px;
             padding: 20px 40px;
         }
    
         .browse-the-range-text {
             text-align: center;
    
             h2 {
                font-size: 40px;
                 margin-top: 30px;
                 margin-bottom: 5px;
             }
    
             p {
                font-size: 20px;
                 padding-bottom: 30px;
             }
    
         }

        .image-text {
            display: block;
            justify-content: center;
            text-align: center;
            /* margin-right: 500px; */

            img {
                    width: 430px;
                  
                }
            
                h4 {
                    font-size: 30px;
                    padding-bottom: 40px;
                }
        
        }

            /* < !-- our product section --> */



.our-products{
width: 930px;
background-color: #F4F5F7;
    /* text-align: center; */
    /* align-items: center; */
}

        .our-products-top-row {
            display: block;
            justify-content: space-between;
            /* align-content: center; */
            /* margin-bottom: 20px; */
            position: relative;


            .our-products-top-row-border{
                border: 5px rgb(215, 200, 200) dashed;
                width: 545px;
                height: 800px;
                opacity: .9;


                h4 {
                        font-size: 40px;
                    }

                p{
                    font-size: 23px;
                    margin-bottom: 20px;
                }

                span{
                    font-size: 25px;
                    /* margin-left: 10px; */
                }
                }
            
        }

                .discount1 {
                    position: absolute;
                    top: 140px;
                    left: 480px;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #E97171;
                    color: white;
                    z-index: 9;
                    /* padding-top: 25px; */
                    /* margin-bottom: 40px; */
                }
        
                .discount2 {
                    /* position: absolute; */
                    /* top: 0px;
                    left: 250px; */
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #E97171;
                    color: white;
                    z-index: 9;
                    padding-top: 25px;
                    /* margin-bottom: 40px; */
                }
        
                .discount3 {
                    /* position: absolute; */
                    /* top: 0px;
                    left: 100px; */
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #2EC1AC;
                    color: white;
                    z-index: 9;
                    padding-top: 25px;
                    /* margin-bottom: 40px; */
                }
        
                .discount4 {
                    /* position: absolute; */
                    /* top: 0px;
                    left: 150px; */
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #2EC1AC;
                    color: white;
                    z-index: 9;
                    padding-top: 25px;
                    /* margin-bottom: 40px; */
                }
        
                .discount5 {
                    /* position: absolute; */
                    /* top: 0px;
                    left: 50px; */
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #2EC1AC;
                    color: white;
                    z-index: 9;
                    padding-top: 25px;
                    margin-bottom: 40px;
                }
        
                .discount6 {
                    /* position: absolute; */
                    /* top: 0px;
                    left: 100px; */
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #E97171;
                    color: white;
                    z-index: 9;
                    padding-top: 25px;
                
                }
        
                .discount7 {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #2EC1AC;
                    color: white;
                    z-index: 9;

                }

    /* position: static; */

   

.our-products-top-row{
    display: block;
}
.our-products-top-row div {
    background-color: #F4F5F7;
    width: 535px;
    height: 800px;
   margin-bottom:50px;
   margin-left: 120px;


    img {
            width: 535px;
        }

}

img .overlay {
    width: 545px;
    height: 800px;
    z-index: 10;
}
.show-more-btn {
    display: flex;
    justify-content: center;

    button {
        width: 200px;
        height: 60px;
        color: #B88E2F;
        border: solid 3px #B88E2F;
        background-color: transparent;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
    }
}




 /* < !-- beautiful rooms section --> */
          
.beautiful-room {
    width: 930px;
    background-color:#FCF8F3;
    display: block;
    text-align: center;
    

    .beautiful-room-text {
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    h2 {
        font-size: 42px;
        margin-bottom: 20px;
    }
    p{
        font-size: 25px;
    }

    button {
        margin-top: 20px;
        padding: 10px 50px;
        border: none;
        color: white;
        font-size: 18px;
        background-color: #B88E2F;
    }
    img{
        width: 500px;
        margin-bottom: 50px;
    }

}

  #two {
    width: 100px;
      margin-top: 30px;
  }

 /* < !-- funiro funiture section --> */

 .furniro-furniture {
     width: 930px;
     height: 800px;
     /* background-color: #B88E2F; */


    .furniro-furniture-text {
        text-align: center;


        .furniro-furniture-text p {
                padding-top: 270px;
            }
        
        .furniro-furniture-text h2 {
            font-size: 36px;
            margin-bottom: 25px;
        }
    }

   

        .furniro-furniture-box1 {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-between;
            padding: 30px;
            /* position: relative; */
    
    
            .furniro-furniture-box1-img1 {
                position: static;
                /* top: -55px; */
            }
    
            .furniro-furniture-box1-img2 {
                position: static;
                top: 0px;
                left: 0px;
            }
    
            .furniro-furniture-box1-img3 {
                position: static;
                left: 0px;
                top: 0px;
            }
    
            .furniro-furniture-box1-img4 {
                position: static;
                /* z-index: 3; */
                left: 0px;
                top: 0px;
            }
    
            .furniro-furniture-box1-img5 {
                position: static;
                left: 0px;
                top: 0px;
                /* z-index: 4; */
            }
    
            .furniro-furniture-box1-img6 {
                position: static;
                /* z-index: 5; */
                left: 0px;
                top: 0px;
            }
    
            .furniro-furniture-box1-img7 {
                position: static;
                /* z-index: 6; */
                top: 0px;
                left: 0px;
            }
    
            .furniro-furniture-box1-img8 {
                position: static;
                /* z-index: 7; */
                left: 0px;
                top: 0px
            }
    
            .furniro-furniture-box1-img9 {
                position: static;
                /* z-index: 8; */
                left: 0px;
                top: 0px
            }
        }
}

         /* < !-- the footer section --> */


.footer-section {
    margin-top: 600px;
    width: 930px;
    background-color: #F4F5F7;
    padding-bottom: 50px;
    p{
        font-size: 14px;
    }

    hr {
        color: rgb(219, 216, 216);
        margin-bottom: 50px;
    }

    h3 {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .footer-section-address {
        padding-left: 20px;
    }

    .footer-section-content-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .footer-section-links p {
        margin-bottom: 50px;
        color: rgb(219, 216, 216);
    }

    .footer-section-links a {
        display: block;
        margin-bottom: 50px;
        text-decoration: none;
    }

    .footer-section-payments p {
        margin-bottom: 50px;
        color: rgb(219, 216, 216);

    }

    .footer-section-payments a {
        display: block;
        margin-bottom: 50px;
        text-decoration: none;
    }
.footer-section-news{
    margin-right: 50px;
}
    .footer-section-news p {
        margin-bottom: 50px;
        
        color: rgb(219, 216, 216);
    }

    input {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .footnote {
        margin-left: 70px;
    }

}



}
